
.store-info-card {
	display: flex;
	position: relative;
	box-sizing: border-box;
	padding: 20rpx 30rpx;
	background-color: #fff;
	box-shadow: 0 10rpx 30rpx 0 rgba(0,0,0,0.06);
	border-radius: 12rpx;
	color: #262626;
	.information {
		flex: 1;
	}
	.title {
		display: flex;
		align-items: center;
		position: relative;
		font-size: 42rpx;
		font-weight: bold;
		letter-spacing: 0.1rpx;
		max-width: 500rpx;
		color: #2e2d2d;
		margin-bottom: 16rpx;
	}
	.address {
		color: #262626;
		font-size: 24rpx;
		width: 100%;
		.distance {
			line-height: 0.5;
			display: inline-block;
		}
		.divider {
			width: 2rpx;
			height: 16rpx;
			margin: 0 12rpx;
			display: inline-block;
			background: #c6c6c6;
		}
	}
	
	// .undelivery {
	// 	position: absolute;
	// 	right: -30rpx;
	// 	bottom: 0;
	// 	top: 0;
	// 	margin: auto;
	// 	width: 200rpx;
	// 	height: 44rpx;
	// 	padding-left: 15rpx;
	// 	line-height: 44rpx;
	// 	font-size: 24rpx;
	// 	text-align: center;
	// 	border-radius: 25rpx 0 0 25rpx;
	// 	color: #fff;
	// 	background: rgba(0, 0, 0, 0.6);
	// }

	.shop-avatar {
		flex: 0 0 140rpx;
		width: 140rpx;
		height: 140rpx;
		border-radius: 10rpx;
		margin-left: 20rpx;
	}
	
	.arrow-icon {
		display: inline-block;
		width: 10rpx;
		height: 18rpx;
		margin-left: 12rpx;
	}
	.guid-icon {
		position: relative;
		display: inline-block;
		width: 24rpx;
		height: 24rpx;
		margin-left: 12rpx;
	}
	.phone-icon {
		display: inline-block;
		width: 32rpx;
		height: 32rpx;
	}
	.ellipsis-text, .open-time {
		line-height: 48rpx;
	}
	.ellipsis-text {
		position: relative;
	}
	.open-time {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
